<div class="container">
    <article class="article">
        <div class="buttons">
            <button mat-raised-button color="primary" routerLink="/crear-usuario">Crear Usuario</button>
            <button mat-raised-button color="accent">Iniciar Sesion</button>
        </div>
        <mat-tab-group animationDuration="2000ms">
            <mat-tab label="Usuarios registrados">
                <mat-card class="card-users">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Nombre</mat-card-title>
                        <mat-card-subtitle>Rol</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                        alt="Foto de perfil">
                    <mat-card-content>
                        <p>Telefono</p>
                        <p>Correo</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Borrar</button>
                        <button mat-button>Editar</button>
                    </mat-card-actions>
                </mat-card>
                <mat-card class="card-users">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Nombre</mat-card-title>
                        <mat-card-subtitle>Rol</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                        alt="Foto de perfil">
                    <mat-card-content>
                        <p>Telefono</p>
                        <p>Correo</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Borrar</button>
                        <button mat-button>Editar</button>
                    </mat-card-actions>
                </mat-card><mat-card class="card-users">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Nombre</mat-card-title>
                        <mat-card-subtitle>Rol</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                        alt="Foto de perfil">
                    <mat-card-content>
                        <p>Telefono</p>
                        <p>Correo</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Borrar</button>
                        <button mat-button>Editar</button>
                    </mat-card-actions>
                </mat-card><mat-card class="card-users">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Nombre</mat-card-title>
                        <mat-card-subtitle>Rol</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                        alt="Foto de perfil">
                    <mat-card-content>
                        <p>Telefono</p>
                        <p>Correo</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Borrar</button>
                        <button mat-button>Editar</button>
                    </mat-card-actions>
                </mat-card>
            </mat-tab>
            <mat-tab label="Reqres.in">
                <mat-card class="card-users">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Nombre</mat-card-title>
                        <mat-card-subtitle>Rol</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                        alt="Foto de perfil">
                    <mat-card-content>
                        <p>Telefono</p>
                        <p>Correo</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Borrar</button>
                        <button mat-button>Editar</button>
                    </mat-card-actions>
                </mat-card>
            </mat-tab>
        </mat-tab-group>

    </article>
</div>