<div class="container">
  <article class="article">
    <form class="example-form" [formGroup]="usuarioForm" (ngSubmit)="agregarUsuario()">
      <mat-form-field class="example-full-width">
        <mat-label>It Makers</mat-label>
        <input matInput disabled value={{titulo}}>
      </mat-form-field>
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="nombre">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label placeholder="example@email.com">Email</mat-label>
              <input matInput formControlName="email">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><mat-form-field class="example-full-width">
              <mat-label placeholder="30000000">Telefono</mat-label>
              <input type="number" matInput formControlName="telefono">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Imagen</mat-label>
              <input matInput value="https://images.pexels.com/photos/2375034/pexels-photo-2375034.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" formControlName="imagen">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input matInput type="password" placeholder="******" formControlName="password">
            </mat-form-field>
          </td>
        </tr>
      </table>
      <table class="example-full-width" cellspacing="0">
      </table>
      <div class="buttons">
        <button (click)="agregarUsuario()" type="submit" mat-raised-button color="primary" routerLink="/home">{{titulo}}</button>
        <button (click)="back()" mat-raised-button color="accent">Volver</button>
      </div>
    </form>

  </article>
</div>